<article class="doc">
  {{#unless (eq page.layout 'full')}}
  {{> breadcrumbs}}
  {{/unless}}
  {{#if page.title}}
  {{#if page.attributes.icon}}
  <h1 class="page">
    <i class="p-1 border rounded{{#with page.attributes.icon-role}} {{{this}}}{{/with}}">
      {{{svg page.attributes.icon}}}
    </i>{{{page.title}}}
  </h1>
  {{else}}
  <h1 class="page">{{{page.title}}}</h1>
  {{/if}}
  {{/if}}
  {{#if (eq page.layout 'tutorial')}}
  {{> tutorial-info}}
  {{/if}}
  {{{page.contents}}}
  {{#unless (eq page.layout 'full')}}
  {{> support-feedback }}
  {{/unless}}
  {{> pagination}}
</article>
