{{#unless (or (eq page.layout 'landing') (eq page.layout 'full') (eq page.layout 'home'))}}
<nav class="flex" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
  <ul class="flex flex-wrap !list-none !m-0 !p-0">
    {{#with page.componentVersion}}
    {{#if (and ./title (ne ./title @root.page.breadcrumbs.0.content))}}
    <li class="text-link !m-0 !p-0 after:content-['/'] last-of-type:after:content-none after:text-tertiary after:px-2">
      <a href="{{{relativize ./url}}}">{{{./title}}}</a>
    </li>
    {{/if}}
    {{/with}}
    {{#each page.breadcrumbs}}
    {{#if ./content}}
    {{#if (not (eq ./url @root.page.url))}}
    {{#if (eq ./urlType 'internal')}}
    <li class="text-link !m-0 !p-0 after:content-['/'] last-of-type:after:content-none after:text-tertiary after:px-2">
      <a href="{{{relativize ./url}}}">{{{./content}}}</a>
    </li>
    {{else}}
    <li class="text-tertiary !m-0 !p-0 after:content-['/'] last-of-type:after:content-none after:text-tertiary after:px-2">{{{./content}}}</li>
    {{/if}}
    {{/if}}
    {{/if}}
    {{/each}}
  </ul>
  {{/if}}
</nav>
{{/unless}}
