{{#with (global-nav)}}
<nav class="global-nav motion-safe:scroll-smooth items-center flex gap-3 py-2 px-4 overflow-x-auto overflow-y-hidden no-scrollbar">
{{#each this}}
{{#if ./url}}
  <a 
    class="btn btn-plain btn-neutral flex gap-1{{#if (global-nav-active this)}} !color-primary nav-group-active{{/if}}" 
    href="{{#if (eq ./urlType 'internal')}}{{{relativize ./url}}}{{else}}{{{./url}}}{{/if}}"
    {{#if (eq ./urlType 'external')}}target="_blank"{{/if}}>
      {{#if ./home}}<i class="material-icons text-xl mr-1.5">home</i>{{/if}}
      {{{./title}}}
  </a>
  {{#if ./home}}<div class="m-0.5 border-l h-6 w-[1px]"></div>{{/if}}
{{/if}}
{{#if ./items}}
  <div class="dropdown" data-trigger-type="hover">
    <button id="nav-dropdown-{{@index}}" class="group dropdown-trigger btn btn-plain btn-neutral flex gap-1{{#if (global-nav-active this)}} !color-primary nav-group-active{{/if}}" aria-haspopup="true" aria-expanded="false">
      {{{./title}}}
      <i class="material-icons text-lg text-tertiary motion-safe:transition-transform motion-safe:duration-300 motion-safe:ease-in-out group-[.active]:rotate-180">expand_more</i>
    </button>
    <ul class="dropdown-content py-2 bg-body border rounded w-52 z-[1]" role="menu" aria-orientation="vertical" aria-labelledby="nav-dropdown-{{@index}}">
      {{#each ./items}}
      <li>
        <a 
          class="!no-underline w-full py-1 px-3 transition-colors flex gap-1 items-center hover:bg-level1{{#if (global-nav-active this)}} color-primary font-bold{{/if}}"
          href="{{#if (eq urlType 'internal')}}{{{relativize url}}}{{else}}{{{url}}}{{/if}}"
          {{#if (eq urlType 'external')}}target="_blank"{{/if}}>
            {{{title}}}
            {{#if (eq urlType 'external')}}<i class="material-icons text-sm text-tertiary">open_in_new</i>{{/if}}
        </a>
      </li> 
      {{/each}}
    </ul>
  </div>
{{/if}}
{{/each}}
</nav>
{{/with}}