{{#if navigation.length}}
<ul>
  {{#each navigation}}
  {{#if ./content}}
  {{#if ./items.length}}
  <li class="collapse" data-depth="{{or ../level 0}}">
    <input type="checkbox" class="peer z-10" {{#if (navTreeContainsUrl ./items @root.page.url)}} checked{{/if}} /> 
    <div class="collapse-title rounded flex items-start py-1 px-2 peer-checked:[&_i]:rotate-180 peer-hover:bg-level2{{#if (greater (or ../level 0) 0)}} text-caption{{else}} text-overline py-2{{/if}}">
      {{{./content}}}
      <i class="material-icons text-lg text-tertiary transition-transform ml-[0.15em]">expand_more</i>
    </div>
    <div class="collapse-content ml-3 pl-2 border-l"> 
      {{> nav-tree navigation=./items level=(increment ../level)}}
    </div>
  </li>
  {{else}}
  <li data-depth="{{or ../level 0}}">
    {{#if ./url}}
     <a class="flex rounded !no-underline text-body-small text-primary py-1 px-2 hover:bg-level2
      {{~#if (greater (or ../level 0) 1)}} text-tertiary{{~/if}}
      {{~#if (eq ./url @root.page.url)}} text-link font-semibold{{~/if}}" 
      href="{{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}{{~else}}{{{./url}}}{{~/if}}">
      {{{./content}}}
    </a>
    {{else}}
    <span class="flex rounded text-body-small text-tertiary py-1 px-2">
      {{{./content}}}
    </span>
    {{/if}}
  </li>
  {{> nav-tree navigation=./items level=(increment ../level)}}
  {{/if}}
  {{/if}}
  {{/each}}
</ul>
{{/if}}
